# Auto detect text files and perform LF normalization
* text=auto eol=lf

# Explicitly declare text files
*.astro text eol=lf
*.css text eol=lf
*.html text eol=lf
*.js text eol=lf
*.json text eol=lf
*.md text eol=lf
*.mjs text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.yaml text eol=lf
*.yml text eol=lf

# Declare binary files
*.ico binary
*.jpg binary
*.jpeg binary
*.png binary
*.gif binary
*.webp binary
*.avif binary
*.woff binary
*.woff2 binary
*.pdf binary
*.zip binary
